.black-screen{
    opacity: 0;
    background-color:black;
    cursor: pointer;
    height:100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    display: none;
    transition: .2;

    &.active{
        display: block;
        transition: .2;
        opacity: .6;
    }
}
.menu-wrapper{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(50, 50, 50);
    width: 80%;
    height: 98vh;
    transition: .3s ease-out;
    transform: translateX(-100%);
    overflow: hidden;
    opacity: 0;
    z-index: 1;
    box-shadow: 1px 1px 6px black;

    &.active{
        opacity: 1;
        transition: .3s ease-in;
        transform: translateX(0);
        overflow: hidden;
        
    }

    .menu-header-wrapper{
        padding: 24px;

        .menu-header-inner{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .header-title{
                font-size: 36px;
                color: white;
            }

            .close-x{
                cursor: pointer;
                font-size: 24px;
                color: white;
            }
        }
    }

    .menu{
        padding:30px;

        .routes-wrapper{
            display: flex;
            flex-direction: column;
            
            a{
                color: white;
                text-overflow: ellipsis;
                margin-bottom: 15px;
                font-size: 30px;
                text-decoration: none;

                &.active{
                    color: rgb(22, 238, 18);
                }
            }
        }
    }
}

@media (min-width: 768px){
    .menu-wrapper{
        width: 540px;
        
        &.active{

            
        }
    }
}