.popup-wrapper{
    position: absolute;
    top: 0;
    right: 0;
    opacity: 1;
    transition: .2s;
    color: white;
    
    &.disabled{
        // display: none;
        height:0;
        width: 0;
        transition: .2s;
        opacity: 0;
    }

    .black-screen{
        display: block;
        cursor: pointer;
        background: black;
        opacity: 0.6;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        transition: .2s;

        &.disabled{
            opacity: 0;
            display: none;
            
        }
    }

    .popup{
        display:block;
        position: absolute;
        background: #6b6b6b;
        height: 60%;
        width: 45%;
        top: 24%;
        left: 26%;
        transition: .2s;
        box-shadow: 3px 3px 7px 1px rgb(32, 32, 32);
        overflow: auto;

        &.disabled{
            display:none;
        }
        
        .popup-text-wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;

            .popup-title{
                font-size: 5vw;
            }

            .popup-text{
                padding: 3vw;
                font-size: 3vw;

                .company{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 6vw;
                    font-size: 8vw;
                }
            }
        }
    }
}

@media (min-width: 768px){
    .popup-wrapper{
    
        .black-screen{
            height: 98vh;
            width: 768px;
            overflow: hidden;
        
        }

        .popup{
           
            .popup-text-wrapper{

                .popup-title{
                    font-size: 35px;
                }
    
                .popup-text{
                    padding: 25px;
                    font-size: 22px;
    
                    .company{
                        margin-top: 30px;
                        font-size: 60px;
                    }
                }
            }
        }
    }
        
}