@import '../../index.scss';


.game-wrapper{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: rgb(107, 107, 107);
    // flex-wrap: row wrap;

    .title-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: rgb(230, 230, 230);
        
        .main-title{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 10vw;
            font-weight: bold;
        }

        .sub-title{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 4vw;
            color: rgb(238, 16, 16);
            // font-weight: bold;
            
        }

        .subtitle{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            display: inline-block;
            font-size: 3.3vw;
            font-weight: bold;
            text-align: center;
        }

        .subtitle.wrapper{
            background-color:white;
            padding: 30px;
            margin: 20px;
            box-shadow: 3px 4px 24px 4px black;
        }

        .share-button{
            cursor: pointer;
            text-decoration: underline;
        }

        .winning{
            color:green;
            font-weight: bold;
        }
        
        .losing{
            color:red;
            font-weight: bold;
        }
    }

    .words-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

}

@media (min-width:768px){
    .game-wrapper{
        width:768px;
        border: 1px solid black;
        margin: 5px auto;
        height: 98vh;
        
        .title-wrapper{
            text-align: center;
            
            .main-title{
                font-size: 80px;
            }
    
            .sub-title{
                font-size: 26px;
                color: red;       
            }

            .subtitle{
                font-size: 18px;
            }
        }
    
    
    }
    
}