@import '../../index.scss';

.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    border-bottom: 1px solid #a0a0a0;
    width: 100%;

    .header-left{
        margin-left: 8px;
    }

    .header-center{
        display: flex;
        justify-content: center;
        align-items: center;

        .header-title{
            font-family: "Helvetica Neue",Helvetica,Arial;
            color: white;
            font-weight: bold;
            font-size: 32px;
        }
    
        .about-img{
            cursor: pointer;
            width: 28px;
            margin-left: 5px;
        }
    }

    .header-right{
        display: flex;
        align-items: center;
        margin-right: 8px;

        .menu-img{
            cursor: pointer;
            width: 28x;
            height: 28px;
        }
    }
    
}